h1 {
    display: none;
}
.wrap {
    width: 1000px;
    margin: 0 auto;
}
header {
    display: flex;
    justify-content: space-between;
    height: auto;
    align-items: center;
}
.logo {
    font-size: 1.750rem;
}
.menu {
    font-size: 1.250rem;
}
.menu a {
    color: #191919;
    text-decoration: none;
    margin: 0 0 0 15rem; 
}
/* 화면의 가로폭이 360픽셀이 최대라면*/
@media screen and (max-width: 480px){
    .wrap {
        width: 100%;
    }
    header {
        flex-direction: column; /*플렉스-방향: 컬럼방향(=세로) 적용 */
    }
    .logo{
        font-size: 2rem; 
        padding: 1rem 0; /*안 여백 : 상하에는 기본값 1배 크기*/
    }
.menu {
    background-color: darkslateblue;
    width: 100%;
    padding: 1rem 0;
    font-size: 1.250rem;
    display: flex;
    justify-content: center; /* 컨텐츠 정렬 :  여백을 포함해서 */
}
.menu a {
    color: white;
    text-transform: uppercase;
    margin: 0 1.5rem; /* 바깥여백 : 좌우 만 기본값 1배 */
}
.profile img {
    max-width: 100%; /* 최대 폭: 가로 100% */
}
}