h1 {
    display: none;
}
.wrap {
    width: 1000px;
    margin: 0 auto;
}
header {
    display: flex;
    justify-content: space-between;
    height: auto;
    align-items: center;
}
.logo {
    font-size: 1.750rem;
}
.menu {
    font-size: 1.250rem;
}
.menu a {
    color: #191919;
    text-decoration: none;
    margin: 0 0 0 15rem; 
}
/* 화면의 가로폭이 360픽셀이 최대라면*/
@media screen and (max-width: 480px){
    .wrap {
        width: 100%;
    }
    header {
        flex-direction: column; /*플렉스-방향: 컬럼방향(=세로) 적용 */
    }
    .logo{
        font-size: 2rem; 
        padding: 1rem 0; /*안 여백 : 상하에는 기본값 1배 크기*/
    }
.menu {
    background-color: darkslateblue;
    width: 100%;
    padding: 1rem 0;
    font-size: 1.250rem;
    display: flex;
    justify-content: center; /* 컨텐츠 정렬 :  여백을 포함해서 */
    box-shadow: 0 0 10px 0 darkslateblue;
}
.menu a {
    color: white;
    text-transform: uppercase;
    margin: 0 2rem; /* 바깥여백 : 좌우 만 기본값 1배 */
}
.profile {
    margin: 1.5rem 0;
}
.profile img {
    max-width: 100%; /* 최대 폭: 가로 100% */
}
.contents p {
    font-size: 1.625rem;
    text-align: center;
}
.keywords{
    display: flex;
    justify-content: center;
    margin: 1.5rem 0;
    column-gap: 1rem; /*좌우 간격 떨어트리기*/
}
.keywords span{
    padding: 10px 15px; /* 안 여백 : 상하 10픽셀, 좌우 15픽셀 적용 */
    color: #ffffff;
    border-radius: 5px; /* 테두리-변경 : 10픽셀 만큼 가장자리 동그랗게 깍기*/
    box-shadow: 0 0 5px 0 rgba(0,0,0,.5); /* 박스-그림자 : x y spread size color*/ /*rgba 순서 R G B 투명도 0~9까지만 */
    font-size: 1.3rem;
    
}
.uxui {
    background-color: #FF9494 ; 
    text-shadow: 0 0 3px rgba(0,0,0,.5); /*글자-그림자 : x y size color */
}
.web {
    background-color: #52ACFF ;
    text-shadow: 0 0 3px rgba(0,0,0,.5);
}
.Design {
    background-color: #7BF7FF ;
    text-shadow: 0 0 3px rgba(0,0,0,.5);
}
.movie {
    background-color: #9EFF71 ;
    text-shadow: 0 0 3px rgba(0,0,0,.5);
}
.buttons {
    text-align: center;
    
    
}
.buttons img {
    transform: scale(0.9);
}
}